Repository Data-Wise/craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-package-json, check-plugin-json

.pre-commit-config.yaml:

# Pre-commit hooks for Claude Code plugins
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # JSON validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        files: \.(json)$
      - id: check-yaml
        files: \.(yml|yaml)$
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Validate plugin structure
  - repo: local
    hooks:
      - id: validate-plugins
        name: Validate plugin structure
        entry: python3 scripts/validate-all-plugins.py
        language: system
        pass_filenames: false
        always_run: true

      - id: check-frontmatter
        name: Check command frontmatter
        entry: bash -c 'find */commands -name "*.md" -type f -exec grep -L "^name:" {} + | grep . && exit 1 || exit 0'
        language: system
        files: commands/.*\.md$

      - id: check-package-json
        name: Validate package.json files
        entry: bash -c 'for f in */package.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: package\.json$

      - id: check-plugin-json
        name: Validate plugin.json files
        entry: bash -c 'for f in */.claude-plugin/plugin.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: \.claude-plugin/plugin\.json$

docs: add Phase 1 orchestration plan for brainstorm question control
  docs/orch/ORCH-brainstorm-phase1-2026-01-18.md
Due: none

chore: update .STATUS with brainstorm Phase 1 preparation session
  .STATUS
Due: none

feat: implement Phase 1 brainstorm question control (v2.4.0)
  CLAUDE.md
  commands/workflow/brainstorm.md
  docs/REFCARD.md
  docs/VERSION-HISTORY.md
  docs/commands/workflow/brainstorm.md
  mkdocs.yml
  tests/test_brainstorm_phase1.py
  tests/test_integration_brainstorm_phase1.py
Due: check-frontmatter

docs: enhance hub and orchestrate documentation with v2.4.0 features
  commands/hub.md
  commands/orchestrate.md
  docs/commands/hub.md
  docs/commands/orchestrate.md
  docs/guide/orchestrator.md
Due: check-frontmatter

docs: update hub command documentation with v2.4.0 features
  CLAUDE.md
  commands/hub.md
  docs/commands/hub.md
Due: check-frontmatter

feat: add validation and milestone flowchart improvements
  commands/workflow/brainstorm.md
Due: check-frontmatter

feat: Phase 1 brainstorm question control (v2.4.0) (#25)
  CLAUDE.md
  commands/hub.md
  commands/orchestrate.md
  commands/workflow/brainstorm.md
  docs/REFCARD.md
  docs/VERSION-HISTORY.md
  docs/commands/hub.md
  docs/commands/orchestrate.md
  docs/commands/workflow/brainstorm.md
  docs/guide/orchestrator.md
  mkdocs.yml
  tests/test_brainstorm_phase1.py
  tests/test_integration_brainstorm_phase1.py
Due: check-frontmatter

chore: update .STATUS with v2.4.0 release
  .STATUS
Due: none

chore: update .STATUS with v2.5.0 --orch flag integration plan
  .STATUS
Due: none

feat: add --orch flag for quick orchestration (v2.5.0)
  CLAUDE.md
  IMPLEMENTATION.md
  WIP.md
  commands/check.md
  commands/ci/generate.md
  commands/do.md
  commands/docs/sync.md
  commands/hub.md
  commands/workflow/brainstorm.md
  docs/API-REFERENCE-COMMANDS.md
  docs/REFCARD.md
  docs/VERSION-HISTORY.md
  docs/guide/orch-flag-usage.md
  docs/guide/orchestrator.md
  mkdocs.yml
  tests/test_e2e_orch_flag.py
  tests/test_integration_orch_flag.py
  tests/test_orch_flag_handler.py
  utils/complexity_scorer.py
  utils/orch_flag_handler.py
Due: check-frontmatter

fix: resolve markdown linting errors in IMPLEMENTATION.md and WIP.md
  IMPLEMENTATION.md
  WIP.md
Due: none

feat: add --orch flag for quick orchestration (v2.5.0) (#27)
  CLAUDE.md
  IMPLEMENTATION.md
  WIP.md
  commands/check.md
  commands/ci/generate.md
  commands/do.md
  commands/docs/sync.md
  commands/hub.md
  commands/workflow/brainstorm.md
  docs/API-REFERENCE-COMMANDS.md
  docs/REFCARD.md
  docs/VERSION-HISTORY.md
  docs/guide/orch-flag-usage.md
  docs/guide/orchestrator.md
  mkdocs.yml
  tests/test_e2e_orch_flag.py
  tests/test_integration_orch_flag.py
  tests/test_orch_flag_handler.py
  utils/complexity_scorer.py
  utils/orch_flag_handler.py
Due: check-frontmatter

chore: update command count to 100 in plugin.json
  .claude-plugin/plugin.json
Due: check-plugin-json

docs: add v2.5.1 improvement specifications and implementation plan
  IMPLEMENTATION-v2.5.1.md
  WIP-v2.5.1.md
  docs/specs/SPEC-orch-flag-v2.5.1-improvements-2026-01-19.md
Due: none

chore: update .STATUS with v2.5.1 improvement plan
  .STATUS
Due: none

feat: implement interactive mode prompt and error handling for v2.5.1
  utils/orch_flag_handler.py
Due: none

test: add 15 new tests and manual checklist for v2.5.1
  TESTING-CHECKLIST.md
  tests/test_orch_flag_handler.py
Due: none

docs: update documentation with troubleshooting and v2.5.1 entry
  CLAUDE.md
  docs/VERSION-HISTORY.md
  docs/guide/orch-flag-usage.md
Due: none

chore: mark v2.5.1 implementation complete
  WIP-v2.5.1.md
Due: none

docs: add v2.5.0 gap analysis and integration spec
  GAP-ANALYSIS-orch-flag-v2.5.0.md
  docs/specs/SPEC-orch-flag-integration-2026-01-19.md
Due: none

docs: update site content for v2.5.1 release
  docs/index.md
  mkdocs.yml
Due: none

docs: update .STATUS for v2.5.1 release and archive Hub v2.0 spec
  .STATUS
  docs/specs/_archive/SPEC-craft-hub-v2-2026-01-15.md
Due: none

docs: add markdownlint list spacing documentation
  .STATUS
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/guide/documentation-quality.md
  docs/guide/markdown-list-spacing.md
  docs/specs/SPEC-markdownlint-list-spacing-2026-01-19.md
  package-lock.json
Due: none

Deployed 834dc62 with MkDocs version: 1.6.1
  guide/documentation-quality/index.html
  guide/markdown-list-spacing/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  specs/SPEC-markdownlint-list-spacing-2026-01-19/index.html
Due: none

docs: auto-fix MD032 blank lines in lint.md
  commands/docs/lint.md
Due: check-frontmatter

config: add MD030 and MD004 rules for list spacing
  .markdownlint.json
Due: none

docs: add baseline lint report for list spacing
  docs/LINT-BASELINE-2026-01-19.txt
Due: none

test: add comprehensive test suite for list spacing
  tests/README.md
  tests/test_markdownlint_list_spacing_e2e.py
  tests/test_markdownlint_list_spacing_unit.py
  tests/test_markdownlint_list_spacing_validation.py
Due: none

test: add list spacing validation test file
  test-list-spacing.md
Due: none

docs: document MD030/MD004 enforcement in lint command
  commands/docs/lint.md
Due: check-frontmatter

fix(ci): add path filters to dependency validation workflow
  .github/workflows/validate-dependencies.yml
Due: none

fix(docs): clarify version status for v2.6.0 development
  .STATUS
Due: none

feat: add pre-commit hook installation scripts
  CONTRIBUTING.md
  scripts/hooks/pre-commit-markdownlint.sh
  scripts/install-hooks.sh
Due: none

fix(tests): correct path resolution in pre-commit hook tests
  tests/test_markdownlint_list_spacing_e2e.py
Due: none

chore: bump version to 2.6.0
  .STATUS
  .claude-plugin/plugin.json
Due: check-plugin-json

fix: update teaching integration test imports
  tests/test_teaching_integration.py
Due: none

fix: resolve all failing tests (706/706 passing)
  tests/test_complexity_scoring.py
  tests/test_teaching_integration.py
  utils/complexity_scorer.py
Due: none
