Repository Data-Wise/craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-package-json, check-plugin-json

.pre-commit-config.yaml:

# Pre-commit hooks for Claude Code plugins
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # JSON validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        files: \.(json)$
      - id: check-yaml
        files: \.(yml|yaml)$
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Validate plugin structure
  - repo: local
    hooks:
      - id: validate-plugins
        name: Validate plugin structure
        entry: python3 scripts/validate-all-plugins.py
        language: system
        pass_filenames: false
        always_run: true

      - id: check-frontmatter
        name: Check command frontmatter
        entry: bash -c 'find */commands -name "*.md" -type f -exec grep -L "^name:" {} + | grep . && exit 1 || exit 0'
        language: system
        files: commands/.*\.md$

      - id: check-package-json
        name: Validate package.json files
        entry: bash -c 'for f in */package.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: package\.json$

      - id: check-plugin-json
        name: Validate plugin.json files
        entry: bash -c 'for f in */.claude-plugin/plugin.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: \.claude-plugin/plugin\.json$

docs: add DevOps implementation completion report
  DEVOPS-IMPLEMENTATION-COMPLETE.md
Due: none

docs: add Phase 2 documentation automation completion report
  DOCS-AUTOMATION-COMPLETE.md
Due: none

feat(ci-cd): add automated documentation deployment
  .github/workflows/docs.yml
  INSTALLATION-VERIFICATION.md
  LOCAL-INSTALLATION-COMPLETE.md
  README.md
  WORKFLOW-PUBLISHED.md
  docs/index.md
  docs/installation.md
  docs/quick-start.md
  workflow-v0.1.0.tar.gz
  workflow/TESTING.md
Due: none

docs: add CI/CD documentation pipeline completion report
  CI-CD-DOCS-COMPLETE.md
Due: none

docs: update CI-CD completion report with fix details
  CI-CD-DOCS-COMPLETE.md
Due: none

fix(ci): remove PLUGIN.md check - file doesn't exist
  .github/workflows/validate.yml
Due: none

docs: update planning docs and website with Phase 4 completion
  .STATUS
  PROJECT-ROADMAP.md
  SESSION-COMPLETE.md
  docs/index.md
Due: none

docs: add resumption guide and testing templates for 1-week validation
  .STATUS
  RESUME-HERE.md
  TESTING-FEEDBACK-TEMPLATE.md
Due: none

docs: add quick testing phase guide
  README-TESTING-PHASE.md
Due: none

feat: v2.0.0 complete implementation with 189 passing tests
  IDEAS.md
  TODO.md
  WORKFLOW-ANALYSIS-SUMMARY.md
  WORKFLOW-STATISTICAL-RESEARCH-IMPROVEMENTS.md
  workflow/.STATUS
  workflow/.claude-plugin/plugin.json
  workflow/.gitignore
  workflow/CHANGELOG.md
  workflow/COMPLETE-IMPLEMENTATION.md
  workflow/IDEAS.md
  workflow/IMPLEMENTATION-SUMMARY.md
  workflow/PROGRESS-REPORT.md
  workflow/README.md
  workflow/SESSION-SUMMARY-2024-12-24.md
  workflow/TESTING-INFRASTRUCTURE.md
  workflow/TODO.md
  workflow/V2.0-RELEASE-NOTES.md
  workflow/WORKFLOW-PLUGIN-STATUS.md
  workflow/commands/brainstorm.md
  workflow/package.json
  workflow/pytest.ini
  workflow/tests/conftest.py
  workflow/tests/integration/test_brainstorm_workflow.py
  workflow/tests/requirements-test.txt
  workflow/tests/unit/test_agent_delegation.py
  workflow/tests/unit/test_format_handling.py
  workflow/tests/unit/test_mode_parsing.py
  workflow/tests/unit/test_time_budgets.py
  workflow/workflow/__init__.py
  workflow/workflow/agent_delegation.py
  workflow/workflow/format_handlers.py
  workflow/workflow/mode_parser.py
  workflow/workflow/time_budgets.py
Due: check-frontmatter, check-package-json, check-plugin-json

docs: update .STATUS - v2.0.0 release complete
  workflow/.STATUS
Due: none

feat: merge user commands into plugins
  rforge/.claude-plugin/plugin.json
  rforge/commands/ecosystem-health.md
  rforge/commands/rpkg-check.md
  rforge/package.json
  statistical-research/.claude-plugin/plugin.json
  statistical-research/README.md
  statistical-research/commands/research/method-scout.md
  statistical-research/package.json
  workflow/.claude-plugin/plugin.json
  workflow/README.md
  workflow/commands/docs/adhd-guide.md
  workflow/commands/done.md
  workflow/commands/focus.md
  workflow/commands/next.md
  workflow/commands/recap.md
  workflow/commands/refine.md
  workflow/commands/stuck.md
  workflow/commands/task-cancel.md
  workflow/commands/task-output.md
  workflow/commands/task-status.md
  workflow/package.json
Due: check-frontmatter, check-package-json, check-plugin-json

docs: update documentation for v2.1/1.1 plugin consolidation
  docs/COMMAND-REFERENCE.md
  docs/index.md
  rforge/CHANGELOG.md
  statistical-research/CHANGELOG.md
  workflow/CHANGELOG.md
Due: none

feat: add craft plugin - full-stack developer toolkit
  .claude-plugin/plugin.json
  README.md
  agents/orchestrator.md
  commands/code/debug.md
  commands/code/demo.md
  commands/code/docs-check.md
  commands/code/refactor.md
  commands/code/release.md
  commands/code/test-gen.md
  commands/docs/changelog.md
  commands/docs/claude-md.md
  commands/docs/nav-update.md
  commands/docs/sync.md
  commands/docs/validate.md
  commands/git/branch.md
  commands/git/clean.md
  commands/git/docs/learning-guide.md
  commands/git/docs/refcard.md
  commands/git/docs/safety-rails.md
  commands/git/docs/undo-guide.md
  commands/git/git-recap.md
  commands/git/sync.md
  commands/hub.md
  commands/site/build.md
  commands/site/check.md
  commands/site/deploy.md
  commands/site/docs/frameworks.md
  commands/site/init.md
  commands/site/preview.md
  skills/design/backend-designer.md
  skills/design/devops-helper.md
  skills/design/frontend-designer.md
Due: check-frontmatter, check-plugin-json

feat: add craft plugin - full-stack developer toolkit
  BRAINSTORM-PLUGIN-NAMES.md
  WORKFLOW-P3-SMART-ORCHESTRATOR.md
  craft/.claude-plugin/plugin.json
  craft/README.md
  craft/agents/orchestrator.md
  craft/commands/code/debug.md
  craft/commands/code/demo.md
  craft/commands/code/docs-check.md
  craft/commands/code/refactor.md
  craft/commands/code/release.md
  craft/commands/code/test-gen.md
  craft/commands/docs/changelog.md
  craft/commands/docs/claude-md.md
  craft/commands/docs/nav-update.md
  craft/commands/docs/sync.md
  craft/commands/docs/validate.md
  craft/commands/git/branch.md
  craft/commands/git/clean.md
  craft/commands/git/docs/learning-guide.md
  craft/commands/git/docs/refcard.md
  craft/commands/git/docs/safety-rails.md
  craft/commands/git/docs/undo-guide.md
  craft/commands/git/git-recap.md
  craft/commands/git/sync.md
  craft/commands/hub.md
  craft/commands/site/build.md
  craft/commands/site/check.md
  craft/commands/site/deploy.md
  craft/commands/site/docs/frameworks.md
  craft/commands/site/init.md
  craft/commands/site/preview.md
  craft/skills/design/backend-designer.md
  craft/skills/design/devops-helper.md
  craft/skills/design/frontend-designer.md
Due: check-frontmatter, check-plugin-json

feat: add CLI test suites (automated + interactive)
  tests/cli/README.md
  tests/cli/automated-tests.sh
  tests/cli/interactive-tests.sh
Due: none

feat: add /craft:test:generate command for dogfooding tests
  commands/test/generate.md
  skills/testing/test-generator.md
Due: check-frontmatter

feat(tests): add JUnit XML output and performance benchmarking
  tests/cli/automated-tests.sh
Due: none

feat(tests): add JUnit XML output and performance benchmarking
  craft/tests/cli/automated-tests.sh
Due: none

docs: add ROADMAP.md with v1.4.0 distribution commands plan
  craft/ROADMAP.md
Due: none

docs: add ROADMAP.md with v1.4.0 distribution commands plan
  ROADMAP.md
Due: none

feat(orchestrator): v2.1 with mode system, context tracking, and session persistence
  README.md
  ROADMAP.md
  agents/orchestrator-v2.md
  commands/orchestrate.md
  skills/orchestration/session-state.md
  tests/orchestrator_dogfood_report.md
  tests/orchestrator_v21_report.md
  tests/test_orchestrator_dogfood.py
  tests/test_orchestrator_v21.py
Due: check-frontmatter

feat(orchestrator): v2.1 with mode system, context tracking, and session persistence
  craft/README.md
  craft/ROADMAP.md
  craft/agents/orchestrator-v2.md
  craft/commands/orchestrate.md
  craft/skills/orchestration/session-state.md
  craft/tests/orchestrator_dogfood_report.md
  craft/tests/orchestrator_v21_report.md
  craft/tests/test_orchestrator_dogfood.py
  craft/tests/test_orchestrator_v21.py
Due: check-frontmatter

chore(release): v1.4.0 - Orchestrator v2.1 with mode system and session persistence
  README.md
  ROADMAP.md
  docs/ORCHESTRATOR-ENHANCEMENTS.md
Due: none

docs: add dogfooding phase with manual test checklist
  ROADMAP.md
Due: none

docs: mark dogfooding phase complete - all tests passed on aiterm v0.3.5
  craft/ROADMAP.md
Due: none

docs: mark dogfooding phase complete - all tests passed on aiterm v0.3.5
  ROADMAP.md
Due: none

feat(dist): add distribution commands for v1.5.0
  README.md
  ROADMAP.md
  commands/dist/curl-install.md
  commands/dist/homebrew.md
  skills/distribution/distribution-strategist.md
  skills/distribution/homebrew-formula-expert.md
Due: check-frontmatter

chore(release): v1.5.0 - Distribution Commands
  craft/README.md
  craft/ROADMAP.md
Due: none

chore(release): v1.5.0 - Distribution Commands
  README.md
  ROADMAP.md
Due: none

fix: sync version metadata and deprecate orchestrator v1
  .claude-plugin/plugin.json
  README.md
  agents/orchestrator.md
Due: check-plugin-json

feat(scripts): add version sync and count validation scripts
  .claude-plugin/plugin.json
  README.md
  scripts/sync-version.sh
  scripts/validate-counts.sh
Due: check-plugin-json

feat(docs): add workflow commands for v1.6.0
  .claude-plugin/plugin.json
  README.md
  ROADMAP.md
  commands/docs/done.md
  commands/docs/feature.md
  commands/docs/site.md
  commands/docs/update.md
Due: check-frontmatter, check-plugin-json

feat(docs): add workflow commands for v1.6.0
  craft/.claude-plugin/plugin.json
  craft/README.md
  craft/ROADMAP.md
  craft/commands/docs/done.md
  craft/commands/docs/feature.md
  craft/commands/docs/site.md
  craft/commands/docs/update.md
Due: check-frontmatter, check-plugin-json

docs(craft): add v1.7.0 site commands roadmap (Plan B)
  PROPOSAL-site-commands-2025-12-27.md
  ROADMAP.md
Due: none

docs(craft): add v1.7.0 site commands roadmap (Plan B)
  craft/PROPOSAL-site-commands-2025-12-27.md
  craft/ROADMAP.md
Due: none

feat(craft): add site:create command and design templates
  commands/site/create.md
  templates/site/mkdocs/extra.css.template
  templates/site/mkdocs/mkdocs.yml.template
  templates/site/pages/guide-page.md.template
  templates/site/pages/index.md.template
  templates/site/pages/quick-start.md.template
  templates/site/pages/refcard.md.template
  templates/site/presets/corporate.yaml
  templates/site/presets/data-wise.yaml
  templates/site/presets/minimal.yaml
  templates/site/presets/open-source.yaml
Due: check-frontmatter

feat(craft): add site:update, site:status, site:theme commands
  commands/site/status.md
  commands/site/theme.md
  commands/site/update.md
Due: check-frontmatter

feat(craft): add site:update, site:status, site:theme commands
  craft/commands/site/status.md
  craft/commands/site/theme.md
  craft/commands/site/update.md
Due: check-frontmatter
