Repository Data-Wise/craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-package-json, check-plugin-json

.pre-commit-config.yaml:

# Pre-commit hooks for Claude Code plugins
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # JSON validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        files: \.(json)$
      - id: check-yaml
        files: \.(yml|yaml)$
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Validate plugin structure
  - repo: local
    hooks:
      - id: validate-plugins
        name: Validate plugin structure
        entry: python3 scripts/validate-all-plugins.py
        language: system
        pass_filenames: false
        always_run: true

      - id: check-frontmatter
        name: Check command frontmatter
        entry: bash -c 'find */commands -name "*.md" -type f -exec grep -L "^name:" {} + | grep . && exit 1 || exit 0'
        language: system
        files: commands/.*\.md$

      - id: check-package-json
        name: Validate package.json files
        entry: bash -c 'for f in */package.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: package\.json$

      - id: check-plugin-json
        name: Validate plugin.json files
        entry: bash -c 'for f in */.claude-plugin/plugin.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: \.claude-plugin/plugin\.json$

docs: add mandatory optimization and readability checks to GIF guidelines
  templates/docs/GIF-GUIDELINES.md
Due: none

feat: add GIF regeneration automation tools
  docs/GIF-REGENERATION-GUIDE.md
  scripts/regenerate-gifs.sh
Due: none

docs: add asciinema + agg workflow for real Claude Code recordings
  docs/GIF-RECORDING-WORKFLOW-2026.md
  scripts/capture-craft-output.sh
Due: none

feat: add Hub v2.0 Layer 2 - category view navigation
  commands/_discovery.py
  commands/hub.md
  tests/demo_layer2.py
  tests/hub_layer2_test_report.md
  tests/test_hub_layer2.py
Due: check-frontmatter

feat: add Hub v2.0 Phase 1 - auto-detection engine and discovery system
  .gitignore
  commands/_discovery.py
  commands/_discovery_usage.md
  commands/_schema.json
  commands/hub.md
  tests/AGENT2_HANDOFF.md
  tests/TEST_HUB_DISCOVERY.md
  tests/VALIDATION_CHECKLIST.md
  tests/hub_discovery_test_report.md
  tests/test_hub_discovery.py
  tests/test_hub_integration.py
Due: check-frontmatter

feat: add Hub v2.0 Layer 3 - command detail view and tutorials
  commands/_discovery.py
  commands/hub.md
  tests/demo_layer3.py
  tests/hub_layer3_test_report.md
  tests/test_hub_layer3.py
Due: check-frontmatter

docs: add comprehensive testing summary document
  tests/TESTING-SUMMARY.md
Due: none

test: add comprehensive Hub v2.0 user testing guide
  tests/HUB-V2-TESTING-GUIDE.md
Due: none

docs: update Hub v2.0 documentation and changelog
  CHANGELOG.md
  docs/commands/hub.md
Due: check-frontmatter

docs(hub): add comprehensive Hub v2.0 documentation
  docs/api/DISCOVERY-API.md
  docs/architecture/HUB-V2-ARCHITECTURE.md
  docs/dev/CONTRIBUTING-HUB-V2.md
Due: none

docs(hub): add VHS demo tape for Hub v2.0 navigation
  docs/demos/hub-v2.gif
  docs/demos/hub-v2.tape
Due: none

feat: add asciinema recording method to /craft:docs:demo
  commands/docs/demo.md
Due: check-frontmatter

refactor: make asciinema the default recording method
  commands/docs/demo.md
Due: check-frontmatter

docs: update GIF guidelines to use asciinema as default
  templates/docs/GIF-GUIDELINES.md
Due: none

docs: update GIF regeneration guide with asciinema as primary method
  docs/GIF-REGENERATION-GUIDE.md
Due: none

docs: update GIF workflow to reflect asciinema as default method
  docs/GIF-RECORDING-WORKFLOW-2026.md
Due: none

docs: add GIF recording guides to site navigation
  mkdocs.yml
Due: none

feat(demo): add dependency declarations and architecture spec
  commands/docs/demo.md
  docs/specs/SPEC-demo-dependency-management-2026-01-17.md
Due: check-frontmatter

feat: add dependency checking system to demo command
  IMPLEMENTATION-PLAN.md
  PHASE-1-COMPLETE.md
  README-WORKTREE.md
  WAVE1-COMPLETE.md
  commands/docs/demo.md
  scripts/README-dependency-manager.md
  scripts/dependency-manager.sh
  scripts/session-cache.sh
  scripts/test-demo-check.sh
  scripts/tool-detector.sh
  scripts/verify-phase1.sh
Due: check-frontmatter

feat(deps): create consent-prompt.sh for Phase 2 auto-installation
  scripts/consent-prompt.sh
Due: none

chore: update .STATUS and add documentation for new features
  .STATUS
  docs/GIF-REGENERATION-CHECKLIST.md
  docs/reference/REFCARD-claude-code-2.1-enhancements.md
  docs/specs/SPEC-demo-dependency-management-2026-01-17.md
  docs/tutorials/TUTORIAL-claude-code-2.1-enhancements.md
  mkdocs.yml
Due: none

chore: add .coverage to gitignore
  .gitignore
Due: none

chore: finalize v1.23.1 release
  .STATUS
  .claude-plugin/plugin.json
Due: check-plugin-json

feat: add auto-installation (--fix flag) to demo command
  PHASE-2-SUMMARY.md
  commands/docs/demo.md
  scripts/INSTALLER-USAGE.md
  scripts/README-PHASE2-INSTALLER.md
  scripts/dependency-installer.sh
  scripts/installers/BREW-QUICK-REF.md
  scripts/installers/README-CARGO-INSTALLER.md
  scripts/installers/README.md
  scripts/installers/binary-installer.sh
  scripts/installers/brew-installer.sh
  scripts/installers/cargo-installer.sh
  scripts/test-fix-flag.sh
  scripts/verify-phase2.sh
Due: check-frontmatter

feat: add batch conversion (--convert, --batch) to demo command
  PHASE-3-COMPLETE.md
  commands/docs/demo.md
  docs/GIF-REGENERATION-GUIDE.md
  scripts/batch-convert.sh
  scripts/convert-cast.sh
Due: check-frontmatter

feat: add version-check.sh for Phase 4 Wave 1 - Advanced Features
  scripts/version-check.sh
Due: none

feat: add health-check.sh for Phase 4 Wave 1
  scripts/health-check.sh
Due: none

feat: add repair-tools.sh for Phase 4 Wave 2
  scripts/repair-tools.sh
Due: none

feat: add JSON output mode to --check flag
  commands/docs/demo.md
  scripts/dependency-manager.sh
Due: check-frontmatter

feat: add CI/CD workflow and comprehensive dependency guide
  .github/workflows/validate-dependencies.yml
  docs/DEPENDENCY-MANAGEMENT.md
Due: none

test: add comprehensive test suite for dependency management
  scripts/consent-prompt.sh
  tests/test_dependency_management.sh
Due: none

chore: update .STATUS to reflect Hub v2.0 merge (PR #17)
  .STATUS
Due: none

feat: add Claude Code 2.1.0 Wave 1 enhancements (complexity scoring, validation skills, hooks)
  .claude-plugin/hooks/README.md
  .claude-plugin/hooks/orchestrate-hooks.sh
  .claude-plugin/skills/validation/broken-links.md
  .claude-plugin/skills/validation/lint-check.md
  .claude-plugin/skills/validation/test-coverage.md
  WAVE1-IMPLEMENTATION-SUMMARY.md
  commands/do.md
  test-wave1.sh
Due: check-frontmatter

feat: implement Wave 3 - Agent resilience, validator ecosystem, session teleportation
  WAVE3-IMPLEMENTATION-SUMMARY.md
  agents/orchestrator-v2.md
  commands/check.md
  commands/check/gen-validator.md
  commands/orchestrate/resume.md
  docs/SESSION-STATE-SCHEMA.md
  docs/VALIDATOR-BEST-PRACTICES.md
Due: check-frontmatter

feat: implement Wave 2 - Agent delegation, validator discovery, forked context
  WAVE2-IMPLEMENTATION-SUMMARY.md
  agents/orchestrator-v2.md
  commands/check.md
  commands/do.md
Due: check-frontmatter

fix: update tests to match actual script implementation
  tests/test_dependency_management.sh
Due: none
