Repository Data-Wise/craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-package-json, check-plugin-json

.pre-commit-config.yaml:

# Pre-commit hooks for Claude Code plugins
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # JSON validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        files: \.(json)$
      - id: check-yaml
        files: \.(yml|yaml)$
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Validate plugin structure
  - repo: local
    hooks:
      - id: validate-plugins
        name: Validate plugin structure
        entry: python3 scripts/validate-all-plugins.py
        language: system
        pass_filenames: false
        always_run: true

      - id: check-frontmatter
        name: Check command frontmatter
        entry: bash -c 'find */commands -name "*.md" -type f -exec grep -L "^name:" {} + | grep . && exit 1 || exit 0'
        language: system
        files: commands/.*\.md$

      - id: check-package-json
        name: Validate package.json files
        entry: bash -c 'for f in */package.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: package\.json$

      - id: check-plugin-json
        name: Validate plugin.json files
        entry: bash -c 'for f in */.claude-plugin/plugin.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: \.claude-plugin/plugin\.json$

feat: add /craft:git:init command for repository initialization (#5)
  .claude-plugin/plugin.json
  commands/git/init.md
  commands/hub.md
  docs/architecture/git-init-flow.md
  docs/commands/git-init-reference.md
  docs/git-init-docs-index.md
  docs/guide/getting-started.md
  docs/guide/git-init-tutorial.md
  templates/git-init/CLAUDE-template.md
  templates/git-init/STATUS-template.yaml
  templates/git-init/pull_request_template.md
  tests/git_init_test_report.md
  tests/test_git_init_command.py
Due: check-frontmatter, check-plugin-json

chore: bump version to 1.19.0
  .STATUS
  .claude-plugin/plugin.json
Due: check-plugin-json

Deployed 30dda2f with MkDocs version: 1.6.1
  architecture/git-init-flow/index.html
  commands/git-init-reference/index.html
  git-init-docs-index/index.html
  guide/git-init-tutorial/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs: update site for v1.19.0 release
  docs/REFCARD.md
  docs/commands/git-init-reference.md
  docs/git-init-docs-index.md
  docs/guide/getting-started.md
  docs/index.md
  mkdocs.yml
Due: check-frontmatter

feat: add dry-run feature brainstorm and specification
  BRAINSTORM-dry-run-feature-2026-01-15.md
  docs/specs/SPEC-dry-run-feature-2026-01-15.md
Due: none

feat: add interactive dry-run analysis plan
  PLAN-interactive-dry-run-analysis-2026-01-15.md
Due: none

chore: update STATUS for v1.20.0-dev dry-run feature work
  .STATUS
Due: none

chore: update STATUS to WIP with worktree branch info
  .STATUS
Due: none

feat: add dry-run infrastructure and P0 git command support
  commands/git/branch.md
  commands/git/clean.md
  commands/git/sync.md
  commands/git/worktree.md
  templates/dry-run-pattern.md
  utils/dry_run_output.py
Due: check-frontmatter

feat: add dry-run support for P0 CI and site commands (Phase 2 Increment 1)
  commands/ci/generate.md
  commands/site/build.md
  commands/site/deploy.md
Due: check-frontmatter

test: add comprehensive dry-run test suite + fix broken links
  commands/git/init.md
  tests/test_dry_run_output.py
Due: check-frontmatter

feat: Phase 1 dry-run infrastructure + P0 git commands (v1.20.0) (#6)
  commands/ci/generate.md
  commands/git/branch.md
  commands/git/clean.md
  commands/git/init.md
  commands/git/sync.md
  commands/git/worktree.md
  commands/site/build.md
  commands/site/deploy.md
  templates/dry-run-pattern.md
  tests/test_dry_run_output.py
  utils/dry_run_output.py
Due: check-frontmatter

chore: update STATUS after PR #6 merge (Phase 1 complete)
  .STATUS
Due: none

feat: add dry-run support for validation and site commands (Phase 2 Increment 2)
  commands/ci/detect.md
  commands/ci/validate.md
  commands/site/check.md
  commands/site/update.md
Due: check-frontmatter

feat: complete Phase 2 with docs commands dry-run support (v1.20.0)
  commands/docs/changelog.md
  commands/docs/check.md
  commands/docs/claude-md.md
  commands/docs/nav-update.md
  commands/docs/sync.md
Due: check-frontmatter

chore: add .gitignore for Python cache files
  .gitignore
Due: none

feat: Phase 2 - Add dry-run to 9 CI, site, and docs commands (#7)
  .gitignore
  commands/ci/detect.md
  commands/ci/validate.md
  commands/docs/changelog.md
  commands/docs/check.md
  commands/docs/claude-md.md
  commands/docs/nav-update.md
  commands/docs/sync.md
  commands/site/check.md
  commands/site/update.md
Due: check-frontmatter

chore: update .STATUS for Phase 2 completion
  .STATUS
Due: none

chore: remove auto-generated test report from git tracking
  tests/craft_test_report.md
Due: none

chore: update .STATUS with worktree status and cleanup plan
  .STATUS
Due: none

chore: mark feature branch as active for Phase 3
  .STATUS
Due: none

feat(phase3): add dry-run support for smart routing commands
  commands/check.md
  commands/do.md
  commands/orchestrate.md
Due: check-frontmatter

docs: update .STATUS for Phase 2 completion
  .STATUS
Due: none

feat(phase3): add dry-run support for P0 stragglers (git:recap, dist:pypi)
  commands/dist/pypi.md
  commands/git/git-recap.md
Due: check-frontmatter

docs: update .STATUS for Phase 3 Inc 1-2 completion and PR #8
  .STATUS
Due: none

docs: add comprehensive dry-run support summary
  DRY-RUN-SUMMARY.md
Due: none

feat(phase3): add dry-run support for 5 commands (smart routing + P0) (#8)
  .STATUS
  DRY-RUN-SUMMARY.md
  commands/check.md
  commands/dist/pypi.md
  commands/do.md
  commands/git/git-recap.md
  commands/orchestrate.md
Due: check-frontmatter

chore: update .STATUS for PR #8 merge
  .STATUS
Due: none

feat(phase3): add dry-run support for code/test commands (5 commands)
  commands/code/ci-local.md
  commands/code/deps-audit.md
  commands/code/lint.md
  commands/test/cli-run.md
  commands/test/run.md
Due: check-frontmatter

chore: update STATUS for Phase 3 completion - target exceeded
  .STATUS
Due: none

feat(phase3): add dry-run for code/test commands (5 commands) (#9)
  .STATUS
  commands/code/ci-local.md
  commands/code/deps-audit.md
  commands/code/lint.md
  commands/test/cli-run.md
  commands/test/run.md
Due: check-frontmatter

chore: update docs for PR #9 merge - 27 commands, 57% target exceeded
  .STATUS
  DRY-RUN-SUMMARY.md
Due: none

docs: update DRY-RUN-SUMMARY.md for PR #9 merge
  DRY-RUN-SUMMARY.md
Due: none

docs: update documentation site for v1.20.0-dev dry-run feature
  docs/commands.md
  docs/index.md
  docs/specs/SPEC-dry-run-feature-2026-01-15.md
Due: none

Deployed 5964050 with MkDocs version: 1.6.1
  commands/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  specs/SPEC-dry-run-feature-2026-01-15/index.html
Due: none

chore: release v1.20.0 - standardized dry-run feature
  .STATUS
  .claude-plugin/plugin.json
  CHANGELOG.md
  package.json
Due: check-package-json, check-plugin-json
