Repository Data-Wise/craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-package-json, check-plugin-json

check-frontmatter:
  name: Check command frontmatter
  entry: bash -c 'find */commands -name "*.md" -type f -exec grep -L "^name:" {} + | grep . && exit 1 || exit 0'
  language: system

check-package-json:
  name: Validate package.json files
  entry: bash -c 'for f in */package.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
  language: system

check-plugin-json:
  name: Validate plugin.json files
  entry: bash -c 'for f in */.claude-plugin/plugin.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
  language: system

docs: add CI templates reference to project-detector skill
  craft/skills/ci/project-detector.md
Due: none

docs: add CI templates reference to project-detector skill
  skills/ci/project-detector.md
Due: none

docs(ci): add new project types and template references
  commands/ci/detect.md
  commands/ci/generate.md
Due: check-frontmatter

docs(ci): add new project types and template references
  craft/commands/ci/detect.md
  craft/commands/ci/generate.md
Due: check-frontmatter

feat(workflow): add tab-completion menu UX for brainstorm v2.1.2
  workflow/.claude-plugin/plugin.json
  workflow/CHANGELOG.md
  workflow/commands/brainstorm.md
  workflow/docs/COMMAND-COMPLETION-RESEARCH.md
Due: check-frontmatter, check-plugin-json

fix(workflow): use two-question flow for AskUserQuestion compliance
  workflow/.claude-plugin/plugin.json
  workflow/CHANGELOG.md
  workflow/commands/brainstorm.md
Due: check-frontmatter, check-plugin-json

fix(workflow): topic first, then menus for brainstorm
  workflow/.claude-plugin/plugin.json
  workflow/CHANGELOG.md
  workflow/commands/brainstorm.md
Due: check-frontmatter, check-plugin-json

feat(workflow): add smart context detection for brainstorm
  workflow/.claude-plugin/plugin.json
  workflow/CHANGELOG.md
  workflow/commands/brainstorm.md
Due: check-frontmatter, check-plugin-json

docs(workflow): add BRAINSTORM-UX design document
  workflow/docs/design/BRAINSTORM-UX.md
Due: none

docs(workflow): update REFCARD with v2.1.6 brainstorm flow
  workflow/docs/REFCARD.md
Due: none

feat(git): add finish action to worktree command
  craft/commands/git/worktree.md
Due: check-frontmatter

feat(git): add finish action to worktree command
  commands/git/worktree.md
Due: check-frontmatter

refactor(docs): consolidate to 12 commands with smart-full defaults
  craft/agents/docs/demo-engineer.md
  craft/commands/docs/check.md
  craft/commands/docs/demo.md
  craft/commands/docs/done.md
  craft/commands/docs/feature.md
  craft/commands/docs/generate.md
  craft/commands/docs/guide.md
  craft/commands/docs/sync.md
  craft/commands/docs/update.md
  craft/commands/docs/validate.md
  craft/skills/docs/doc-classifier/skill.md
Due: check-frontmatter

refactor(docs): consolidate to 12 commands with smart-full defaults
  agents/docs/demo-engineer.md
  commands/docs/check.md
  commands/docs/demo.md
  commands/docs/done.md
  commands/docs/feature.md
  commands/docs/generate.md
  commands/docs/guide.md
  commands/docs/sync.md
  commands/docs/update.md
  commands/docs/validate.md
  skills/docs/doc-classifier/skill.md
Due: check-frontmatter

docs(craft): update README for v1.11.0 docs consolidation
  .claude-plugin/plugin.json
  README.md
Due: check-plugin-json

docs(craft): update README for v1.11.0 docs consolidation
  craft/.claude-plugin/plugin.json
  craft/README.md
Due: check-plugin-json

feat(workflow): add spec capture and review workflow
  commands/do.md
Due: check-frontmatter

feat(workflow): brainstorm v2.3.0 with 3-layer args & Ask More
  .claude-plugin/plugin.json
  commands/do.md
Due: check-frontmatter, check-plugin-json

feat(workflow): brainstorm v2.3.0 with 3-layer args & Ask More
  craft/.claude-plugin/plugin.json
  craft/commands/do.md
  workflow/.claude-plugin/plugin.json
  workflow/commands/brainstorm.md
Due: check-frontmatter, check-plugin-json

feat(docs): add /craft:docs:tutorial skill for interactive tutorials
  .claude-plugin/plugin.json
  commands/docs/tutorial.md
Due: check-frontmatter, check-plugin-json

docs: add Homebrew automation as v1.8.0 top priority
  .claude-plugin/plugin.json
  BRAINSTORM-homebrew-automation-2025-12-31.md
  ROADMAP.md
  docs/specs/SPEC-testing-enhancements-2025-12-30.md
Due: check-plugin-json

feat(dist): complete Phase 1 Homebrew automation
  craft/ROADMAP.md
  craft/commands/dist/homebrew.md
  craft/skills/distribution/homebrew-workflow-expert.md
Due: check-frontmatter

feat(dist): complete Phase 1 Homebrew automation
  ROADMAP.md
  commands/dist/homebrew.md
  skills/distribution/homebrew-workflow-expert.md
Due: check-frontmatter

feat(dist): complete Phase 2 Homebrew automation
  ROADMAP.md
  commands/dist/homebrew.md
  skills/distribution/homebrew-setup-wizard.md
Due: check-frontmatter

feat(dist): add Phase 3 multi-formula coordinator
  ROADMAP.md
  commands/dist/homebrew.md
  skills/distribution/homebrew-multi-formula.md
Due: check-frontmatter

feat(dist): add Phase 3 multi-formula coordinator
  craft/ROADMAP.md
  craft/commands/dist/homebrew.md
  craft/skills/distribution/homebrew-multi-formula.md
Due: check-frontmatter

release(craft): v1.14.0 - Homebrew Automation
  craft/.claude-plugin/plugin.json
  craft/ROADMAP.md
Due: check-plugin-json

release(craft): v1.14.0 - Homebrew Automation
  .claude-plugin/plugin.json
  ROADMAP.md
Due: check-plugin-json

feat(dist): add /craft:dist:pypi command for PyPI automation
  commands/dist/pypi.md
Due: check-frontmatter

chore: update command count to 73
  craft/.claude-plugin/plugin.json
Due: check-plugin-json

chore: update command count to 73
  .claude-plugin/plugin.json
Due: check-plugin-json

docs: fix markdown rendering and mermaid diagram layouts
  .craft/site-design.yaml
  docs/ADHD-QUICK-START.md
  docs/QUICK-START.md
  docs/REFCARD.md
  docs/WORKFLOWS.md
  docs/_archive/BRAINSTORM-SUBCOMMAND-UX.md
  docs/_archive/PROPOSAL-SITE-COMMANDS.md
  docs/_archive/PROPOSAL-craft-review-2025-12-27.md
  docs/_archive/PROPOSAL-docs-commands-review-2025-12-27.md
  docs/_archive/PROPOSAL-docs-complete-workflow-2025-12-27.md
  docs/_archive/PROPOSAL-docs-workflow-focused-2025-12-27.md
  docs/_archive/PROPOSAL-site-commands-2025-12-27.md
  docs/commands/code.md
  docs/commands/docs.md
  docs/commands/git.md
  docs/commands/overview.md
  docs/commands/site.md
  docs/commands/smart.md
  docs/guide/getting-started.md
  docs/guide/orchestrator.md
  docs/guide/skills-agents.md
  docs/index.md
  docs/reference/configuration.md
  docs/reference/presets.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: check-frontmatter

docs: update README and ROADMAP for v1.15.0
  README.md
  ROADMAP.md
Due: none

fix(docs): add blank line after TL;DR header in homepage
  docs/index.md
Due: none

docs: add /craft:docs:website command documentation
  commands/docs/website.md
Due: check-frontmatter

feat(commands): update site:create and mermaid-linter with rendering fixes
  commands/site/create.md
  skills/docs/mermaid-linter/skill.md
Due: check-frontmatter

feat(commands): update site:create and mermaid-linter with rendering fixes
  craft/commands/site/create.md
  craft/skills/docs/mermaid-linter/skill.md
Due: check-frontmatter

chore: bump version to v1.15.0
  craft/.claude-plugin/plugin.json
Due: check-plugin-json

chore: bump version to v1.15.0
  .claude-plugin/plugin.json
Due: check-plugin-json

docs(mermaid-linter): add card grid and extension troubleshooting
  skills/docs/mermaid-linter/skill.md
Due: none

Path conditions:
  check-frontmatter: any of: commands/.*\.md$
  check-package-json: any of: package\.json$
  check-plugin-json: any of: \.claude-plugin/plugin\.json$
