Repository Data-Wise/craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-package-json, check-plugin-json

.pre-commit-config.yaml:

# Pre-commit hooks for Claude Code plugins
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # JSON validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        files: \.(json)$
      - id: check-yaml
        files: \.(yml|yaml)$
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Validate plugin structure
  - repo: local
    hooks:
      - id: validate-plugins
        name: Validate plugin structure
        entry: python3 scripts/validate-all-plugins.py
        language: system
        pass_filenames: false
        always_run: true

      - id: check-frontmatter
        name: Check command frontmatter
        entry: bash -c 'find */commands -name "*.md" -type f -exec grep -L "^name:" {} + | grep . && exit 1 || exit 0'
        language: system
        files: commands/.*\.md$

      - id: check-package-json
        name: Validate package.json files
        entry: bash -c 'for f in */package.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: package\.json$

      - id: check-plugin-json
        name: Validate plugin.json files
        entry: bash -c 'for f in */.claude-plugin/plugin.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: \.claude-plugin/plugin\.json$

docs: update outdated version references to v1.20.0
  docs/guide/homebrew-installation.md
  docs/workflows/git-feature-workflow.md
  docs/workflows/release-workflow.md
Due: none

docs: add missing files to mkdocs navigation
  mkdocs.yml
Due: none

Deployed c181173 with MkDocs version: 1.6.1
  guide/orchestrator/index.html
  orchestrator/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  workflows/git-feature-workflow/index.html
  workflows/index.html
  workflows/pre-commit-workflow/index.html
  workflows/release-workflow/index.html
Due: none

docs: add documentation quality automation plan to .STATUS
  .STATUS
Due: none

chore: update .STATUS for docs-quality feature work
  .STATUS
Due: none

feat(docs): add /craft:docs:lint command for markdown quality
  .claude-plugin/plugin.json
  commands/check.md
  commands/docs/lint.md
  package.json
Due: check-frontmatter, check-package-json, check-plugin-json

feat(docs): add /craft:docs:check-links command for link validation
  .claude-plugin/plugin.json
  commands/check.md
  commands/docs/check-links.md
  commands/site/check.md
  docs/test-violations.md
  package.json
Due: check-frontmatter, check-package-json, check-plugin-json

feat(docs): add pre-commit hooks for documentation quality
  .STATUS
  commands/git/init.md
Due: check-frontmatter

feat(docs): add CI integration and test validation
  .github/workflows/docs-quality.yml
  .markdown-link-check.json
  .markdownlint.json
  TEST-VALIDATION.md
Due: none

docs: add comprehensive documentation for quality automation
  docs/commands/docs.md
  docs/guide/documentation-quality-development.md
  docs/guide/documentation-quality.md
  docs/reference/documentation-quality.md
  mkdocs.yml
Due: check-frontmatter

docs: add v1.21.0 specs for help template and spec integration
  .STATUS
  BRAINSTORM-spec-integration-2026-01-16.md
  docs/specs/SPEC-help-template-menu-2026-01-16.md
  docs/specs/SPEC-spec-integration-2026-01-16.md
Due: none

chore: clean up merged worktrees
  .STATUS
Due: none

docs: clarify Homebrew upgrade is automatic (no manual sync needed)
  docs/guide/homebrew-installation.md
Due: none

chore: update .STATUS with session 2026-01-16 accomplishments
  .STATUS
Due: none

chore: update .STATUS with /craft:hub v2.0 discovery plan
  .STATUS
Due: none

feat: add /craft:hub v2.0 discovery system brainstorm and spec
  BRAINSTORM-craft-hub-update-2026-01-15.md
  docs/specs/SPEC-craft-hub-v2-2026-01-15.md
Due: none

feat: add teaching workflow spec and organize brainstorm docs
  .STATUS
  .gitignore
  BRAINSTORM-craft-hub-update-2026-01-15.md
  BRAINSTORM-dry-run-feature-2026-01-15.md
  BRAINSTORM-homebrew-automation-2025-12-31.md
  BRAINSTORM-spec-integration-2026-01-16.md
  docs/specs/SPEC-teaching-workflow-2026-01-16.md
Due: none

chore: update .STATUS with teaching workflow as WIP in worktree
  .STATUS
Due: none

docs: update and optimize CLAUDE.md
  CLAUDE.md
Due: none

feat(teaching): add teaching mode detection utility
  tests/test_teaching_mode.py
  utils/detect_teaching_mode.py
Due: none

feat(teaching): add content validation suite
  commands/utils/teaching_validation.py
  tests/demo_teaching_validation.py
  tests/test_teaching_validation.py
Due: none

feat(site): add progress dashboard command
  IMPLEMENTATION-WAVE3-AGENT3.md
  commands/site/progress.md
Due: check-frontmatter

feat(site): add teaching context to build command
  commands/site/build.md
Due: check-frontmatter

docs(teaching): add setup guide and tutorials
  TEACHING-DOCS-COMPLETE.md
  docs/TEACHING-DOCS-INDEX.md
  docs/teaching-migration.md
  docs/tutorials/teaching-mode-setup.md
Due: none

docs: update command references for teaching mode
  README.md
Due: none

feat(site): add preview-before-publish workflow
  IMPLEMENTATION-WAVE2-AGENT2.md
  commands/site/publish.md
  tests/test_site_publish.py
Due: check-frontmatter

feat(git): enhance status with teaching context
  .claude-plugin/plugin.json
  CLAUDE.md
  commands/git/status.md
Due: check-frontmatter, check-plugin-json

docs(teaching): add teach-config.yml schema
  docs/teaching-config-schema.md
Due: none

feat(teaching): add semester progress calculation
  commands/utils/README-semester-progress.md
  commands/utils/semester_progress.py
  tests/test_semester_progress.py
Due: check-frontmatter

feat(teaching): add config file parser
  WAVE3-AGENT1-SUMMARY.md
  commands/utils/README-teach-config.md
  commands/utils/teach_config.py
  examples/teach-config-example.yml
  examples/test_parser.py
  tests/test_teach_config.py
Due: check-frontmatter

test(teaching): add integration tests and validation
  WAVE-5-COMPLETE.md
  tests/MANUAL-TESTING-CHECKLIST.md
  tests/WAVE-5-VALIDATION-REPORT.md
  tests/fixtures/teaching/minimal/schedule.qmd
  tests/fixtures/teaching/minimal/syllabus.qmd
  tests/fixtures/teaching/minimal/teach-config.yml
  tests/fixtures/teaching/stat-545/schedule.qmd
  tests/fixtures/teaching/stat-545/syllabus.qmd
  tests/fixtures/teaching/stat-545/teach-config.yml
  tests/fixtures/teaching/summer/schedule.qmd
  tests/fixtures/teaching/summer/syllabus.qmd
  tests/fixtures/teaching/summer/teach-config.yml
  tests/test_teaching_integration.py
Due: none

fix(docs): correct broken links in migration guide
  commands/utils/readme-semester-progress.md
  commands/utils/readme-teach-config.md
  docs/teaching-migration.md
Due: check-frontmatter

chore: update project tracking files
  .STATUS
  TODO-teaching-workflow.md
Due: none

chore: update .STATUS with teaching workflow merge (v1.22.0)
  .STATUS
Due: none

docs: add comprehensive teaching workflow documentation
  CHANGELOG.md
  docs/REFCARD.md
  docs/demos/teaching-workflow.tape
  docs/guide/teaching-workflow.md
  docs/reference/REFCARD-TEACHING.md
  mkdocs.yml
Due: none

test: add comprehensive teaching documentation test suite
  tests/test_teaching_documentation.py
Due: none

docs: add dedicated Teaching Mode section to navigation
  mkdocs.yml
Due: none
