Repository Data-Wise/craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-package-json, check-plugin-json

check-frontmatter:
  name: Check command frontmatter
  entry: bash -c 'find */commands -name "*.md" -type f -exec grep -L "^name:" {} + | grep . && exit 1 || exit 0'
  language: system

check-package-json:
  name: Validate package.json files
  entry: bash -c 'for f in */package.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
  language: system

check-plugin-json:
  name: Validate plugin.json files
  entry: bash -c 'for f in */.claude-plugin/plugin.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
  language: system

feat(mermaid-linter): update with official Mermaid.js best practices
  skills/docs/mermaid-linter/skill.md
Due: none

feat(commands): implement Mermaid best practices across all commands
  commands/docs/mermaid.md
  commands/site/create.md
  commands/site/status.md
Due: check-frontmatter

feat(commands): implement Mermaid best practices across all commands
  craft/commands/docs/mermaid.md
  craft/commands/site/create.md
  craft/commands/site/status.md
Due: check-frontmatter

fix(docs): remove broken cross-project links
  ROADMAP.md
  commands/docs/website.md
Due: check-frontmatter

fix(docs): remove template placeholder links from website command
  commands/docs/website.md
Due: check-frontmatter

fix(docs): remove template placeholder links from website command
  craft/commands/docs/website.md
Due: check-frontmatter

fix(skills): remove broken CI-TEMPLATES.md link
  skills/ci/project-detector.md
Due: none

feat(docs): complete Phase 1 ADHD-friendly enhancements
  ROADMAP.md
  docs/ADHD-QUICK-START.md
  docs/commands/site.md
  docs/guide/orchestrator.md
  docs/guide/skills-agents.md
Due: check-frontmatter

feat(docs): complete Phase 2 ADHD-friendly structure enhancements
  ROADMAP.md
  docs/ADHD-QUICK-START.md
  docs/QUICK-START.md
  docs/guide/orchestrator.md
  docs/index.md
  docs/workflows/index.md
  mkdocs.yml
Due: none

feat(docs): complete Phase 3 ADHD-friendly polish and accessibility
  ROADMAP.md
  docs/ACCESSIBILITY.md
  docs/ADHD-QUICK-START.md
  docs/PLAYGROUND.md
  docs/QUICK-START.md
  docs/guide/getting-started.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

fix(docs): correct ADHD enhancement issues found by tests
  docs/ACCESSIBILITY.md
  docs/index.md
  docs/workflows/index.md
  mkdocs.yml
  tests/test_v115_adhd_enhancements.py
Due: none

docs: update command/skill/agent counts and add Architecture docs
  .craft/DOCUMENTATION-AUDIT-2025-12-31.md
  README.md
  docs/REFCARD.md
  docs/commands/arch.md
  docs/commands/overview.md
  docs/index.md
  mkdocs.yml
Due: check-frontmatter

docs(commands): add comprehensive planning commands documentation
  docs/commands/plan.md
Due: check-frontmatter

docs(workflows): add Distribution docs and 10 workflow GIF demonstrations
  docs/commands/dist.md
  docs/gifs/workflow-01-docs-update.gif
  docs/gifs/workflow-01-docs-update.tape
  docs/gifs/workflow-02-site-creation.gif
  docs/gifs/workflow-02-site-creation.tape
  docs/gifs/workflow-03-release.gif
  docs/gifs/workflow-03-release.tape
  docs/gifs/workflow-04-development.gif
  docs/gifs/workflow-04-development.tape
  docs/gifs/workflow-05-testing.gif
  docs/gifs/workflow-05-testing.tape
  docs/gifs/workflow-06-linting.gif
  docs/gifs/workflow-06-linting.tape
  docs/gifs/workflow-07-git-worktree.gif
  docs/gifs/workflow-07-git-worktree.tape
  docs/gifs/workflow-08-homebrew-dist.gif
  docs/gifs/workflow-08-homebrew-dist.tape
  docs/gifs/workflow-09-precommit.gif
  docs/gifs/workflow-09-precommit.tape
  docs/gifs/workflow-10-orchestrator.gif
  docs/gifs/workflow-10-orchestrator.tape
  mkdocs.yml
Due: check-frontmatter

docs: complete missing command documentation updates
  docs/commands/code.md
  docs/commands/docs.md
  docs/commands/site.md
  docs/guide/skills-agents.md
Due: check-frontmatter

release: v1.16.0 - Documentation Complete 🎉
  .claude-plugin/plugin.json
  README.md
  RELEASE-NOTES-v1.16.0.md
  install.sh
Due: check-plugin-json

chore: mark project as production ready (v1.16.0)
  .STATUS
Due: none

docs: add comprehensive CLAUDE.md for repository guidance
  CLAUDE.md
Due: none

docs: add Developer Guide link to README
  README.md
Due: none

docs: add CLAUDE.md to MkDocs navigation
  docs/CLAUDE.md
  mkdocs.yml
Due: none

docs: complete CLAUDE.md integration across all plugins
  README.md
Due: none

chore: archive session files and clean build artifacts (Phase 1)
  .STATUS
  .coverage
  .gitignore
  TODO.md
  sessions/2024/CI-CD-DOCS-COMPLETE.md
  sessions/2024/CI-CD-WORKFLOWS-COMPLETE.md
  sessions/2024/DEVOPS-IMPLEMENTATION-COMPLETE.md
  sessions/2024/DEVOPS-VALIDATION-SUMMARY.md
  sessions/2024/DOCS-AUTOMATION-COMPLETE.md
  sessions/2024/DOCUMENTATION-COMPLETE.md
  sessions/2024/LOCAL-INSTALLATION-COMPLETE.md
  sessions/2024/MODE-SYSTEM-COMPLETE.md
  sessions/2024/MODE-SYSTEM-DEVOPS-COMPLETE.md
  sessions/2024/MODE-SYSTEM-IMPLEMENTATION.md
  sessions/2024/OPTION-C-COMPLETE.md
  sessions/2024/PRIVATE-INSTALLATION-COMPLETE.md
  sessions/2024/RELEASE-v0.1.0-COMPLETE.md
  sessions/2024/RFORGE-CONSOLIDATION-COMPLETE.md
  sessions/2024/SESSION-2025-12-26-DEV-TOOLS.md
  sessions/2024/SESSION-COMPLETE.md
  sessions/2024/TEST-INFRASTRUCTURE-COMPLETE.md
  sessions/2024/WORKFLOW-PLUGIN-COMPLETE.md
  sessions/2025/BRAINSTORM-PLUGIN-NAMES.md
  sessions/2025/CRAFT-PLUGIN-PROPOSAL.md
  sessions/2025/PROPOSAL-DEV-TOOLS-CREATIVE.md
  sessions/2025/PROPOSAL-DEV-TOOLS-PLUGIN-REVISED.md
Due: none

docs: consolidate MODE-SYSTEM and CICD documentation (Phase 2)
  docs/CICD.md
  docs/MODE-SYSTEM.md
  mkdocs.yml
  sessions/cicd-development/CICD-DEPLOYMENT-SUMMARY.md
  sessions/cicd-development/CICD-FILES-CREATED.txt
  sessions/mode-system-development/MODE-SYSTEM-BEFORE-AFTER.md
  sessions/mode-system-development/MODE-SYSTEM-CICD-PIPELINE.md
  sessions/mode-system-development/MODE-SYSTEM-DEPLOYMENT-PLAN.md
  sessions/mode-system-development/MODE-SYSTEM-DESIGN.md
  sessions/mode-system-development/MODE-SYSTEM-MONITORING.md
  sessions/mode-system-development/MODE-SYSTEM-SUMMARY.md
  sessions/mode-system-development/MODE-SYSTEM-TESTING-GUIDE.md
  sessions/mode-system-development/MODE-SYSTEM-TESTING-STRATEGY.md
Due: none

docs: update .STATUS and TODO.md with cleanup completion
  .STATUS
  TODO.md
Due: none

docs: update all planning docs with cleanup completion
  BRAINSTORM-project-structure-cleanup-2026-01-07.md
  NEXT-STEPS-IMMEDIATE.md
  PROJECT-ROADMAP.md
  RESUME-HERE.md
Due: none

feat: implement JSON formatter for mode system
  rforge/lib/formatters.py
  tests/unit/test_format_handling.py
Due: none

docs: add format handler implementation details to commands
  rforge/commands/analyze.md
  rforge/commands/status.md
Due: check-frontmatter

test: add MCP integration testing documentation
  docs/DOCUMENTATION-MAKING-GUIDE.md
Due: none

test: complete real-world package testing on mediationverse
  NEXT-STEPS-IMMEDIATE.md
  docs/REAL-WORLD-TESTING-RESULTS.md
  mkdocs.yml
Due: none

docs: add Craft plugin-specific documentation
  docs/architecture.md
  docs/commands.md
  docs/orchestrator.md
  docs/skills-agents.md
Due: none

docs: implement documentation standards (Phases 1-4)
  docs/CI-DETECTION-ROLLOUT.md
  docs/DOCUMENTATION-MAKING-GUIDE.md
  docs/ORCHESTRATOR-ENHANCEMENTS.md
  docs/commands/dist.md
  docs/orchestrator.md
Due: check-frontmatter

feat: Complete Phase 1 (scholar MVP) and Phase 2 (craft integration)
  .claude-plugin/plugin.json
  README.md
  RELEASE-NOTES-v1.17.0.md
  commands/workflow/adhd-guide.md
  commands/workflow/brainstorm.md
  commands/workflow/done.md
  commands/workflow/focus.md
  commands/workflow/next.md
  commands/workflow/recap.md
  commands/workflow/refine.md
  commands/workflow/spec-review.md
  commands/workflow/stuck.md
  commands/workflow/task-cancel.md
  commands/workflow/task-output.md
  commands/workflow/task-status.md
  docs/workflow-integration/QUICK-START.md
  docs/workflow-integration/README.md
  docs/workflow-integration/REFCARD.md
  docs/workflow-integration/commands.md
  docs/workflow-integration/skills-agents.md
  install.sh
  package.json
  scripts/migrate-from-workflow.sh
Due: check-frontmatter, check-package-json, check-plugin-json

feat: Complete Phase 3 (Polish & Testing)
  docs/index.md
Due: none

chore: extract craft as standalone repository
  .github/workflows/ci.yml
  README.md
  docs/QUICK-START.md
  docs/REFCARD.md
  package.json
Due: check-package-json

docs: configure standalone GitHub Pages deployment
  .github/workflows/docs.yml
  mkdocs.yml
Due: none

chore: prepare package.json for npm publishing
  package.json
Due: check-package-json

Path conditions:
  check-frontmatter: any of: commands/.*\.md$
  check-package-json: any of: package\.json$
  check-plugin-json: any of: \.claude-plugin/plugin\.json$
