Repository Data-Wise/craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-package-json, check-plugin-json

.pre-commit-config.yaml:

# Pre-commit hooks for Claude Code plugins
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # JSON validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        files: \.(json)$
      - id: check-yaml
        files: \.(yml|yaml)$
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Validate plugin structure
  - repo: local
    hooks:
      - id: validate-plugins
        name: Validate plugin structure
        entry: python3 scripts/validate-all-plugins.py
        language: system
        pass_filenames: false
        always_run: true

      - id: check-frontmatter
        name: Check command frontmatter
        entry: bash -c 'find */commands -name "*.md" -type f -exec grep -L "^name:" {} + | grep . && exit 1 || exit 0'
        language: system
        files: commands/.*\.md$

      - id: check-package-json
        name: Validate package.json files
        entry: bash -c 'for f in */package.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: package\.json$

      - id: check-plugin-json
        name: Validate plugin.json files
        entry: bash -c 'for f in */.claude-plugin/plugin.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        files: \.claude-plugin/plugin\.json$

docs: update RELEASE-v2.6.0 with 100% test pass rate
  RELEASE-v2.6.0.md
Due: none

fix(docs): remove hardcoded path from orchestrate resume example
  commands/orchestrate/resume.md
Due: check-frontmatter

fix(ci): add pyyaml dependency for teaching integration tests
  .github/workflows/ci.yml
Due: none

Deployed 7e6aec6 with MkDocs version: 1.6.1
  LINT-BASELINE-2026-01-19.txt
Due: none

docs: add interactive docs:update and docs:sync merge specs
  .STATUS
  BRAINSTORM-docs-sync-update-merge-2026-01-22.md
  BRAINSTORM-docs-update-interactive-2026-01-22.md
  docs/specs/SPEC-docs-sync-update-integration-2026-01-22.md
  docs/specs/SPEC-docs-update-interactive-2026-01-22.md
Due: none

feat(hooks): expand markdownlint pre-commit to 24 rules
  scripts/hooks/pre-commit-markdownlint.sh
Due: none

chore: update .STATUS with session 2026-01-22 documentation specs
  .STATUS
Due: none

chore: update .STATUS with worktree setup session
  .STATUS
Due: none

[WIP] Initialize feature branch for interactive docs:update
  WIP.md
Due: none

feat(docs): add interactive documentation update system (Phase 1-2)
  commands/docs/update.md
  docs/examples/docs-update-interactive-example.md
  docs/specs/IMPLEMENTATION-SUMMARY-docs-update-interactive.md
  tests/test_docs_utilities.py
  utils/docs_detector.py
  utils/help_file_validator.py
Due: check-frontmatter

docs: fix CLAUDE.md audit issues (version, counts, features)
  CLAUDE.md
Due: none

docs(specs): document Phase 3 end-to-end test results
  docs/specs/IMPLEMENTATION-SUMMARY-docs-update-interactive.md
Due: none

docs(docs:update): add comprehensive documentation and help
  .STATUS
  commands/docs/update.md
  docs/reference/REFCARD-DOCS-UPDATE.md
  docs/tutorials/interactive-docs-update-tutorial.md
Due: check-frontmatter

chore: mark docs:update interactive feature as complete
  .STATUS
Due: none

test: add comprehensive error handling tests for docs utilities
  tests/test_docs_utilities_error_handling.py
  utils/docs_detector.py
  utils/help_file_validator.py
Due: none

chore: update .STATUS after PR #32 merge to dev
  .STATUS
Due: none

docs(site): update documentation site for v2.7.0 release
  docs/REFCARD.md
  docs/commands/docs.md
  docs/index.md
  mkdocs.yml
Due: check-frontmatter

chore: add node_modules to .gitignore
  .gitignore
Due: none

chore: bump version to v2.7.0
  .claude-plugin/plugin.json
  docs/VERSION-HISTORY.md
Due: check-plugin-json

docs: update .STATUS to reflect v2.7.0 release completion
  .STATUS
Due: none

chore: finalize v2.7.0 release session
  .STATUS
  docs/specs/_archive/SPEC-docs-update-interactive-2026-01-22.md
Due: none

docs: add AGENTS.md development guidelines and v2.8.0 engineering improvements spec
  AGENTS.md
  docs/specs/SPEC-engineering-improvements-v2.8.0.md
Due: none

feat: implement full markdown linting system with 30 rules
  .markdownlint.json
  .pre-commit-config.yaml
  CLAUDE.md
  commands/code/lint.md
  commands/discovery-usage.md
  commands/docs/lint.md
  commands/site/check.md
  docs/API-REFERENCE-COMMANDS.md
  docs/git-init-docs-index.md
Due: check-frontmatter

docs: add markdown linting implementation spec
  docs/specs/SPEC-full-markdown-linting-2026-01-25.md
Due: none

fix: resolve broken internal links and integrate linkcheck-ignore parser
  .linkcheck-ignore
  docs/api/DISCOVERY-API.md
  docs/architecture/HUB-V2-ARCHITECTURE.md
  docs/commands/git/worktree.md
  docs/cookbook/common/automate-release-workflow.md
  docs/cookbook/common/check-code-quality-before-commit.md
  docs/cookbook/common/deploy-course-website.md
  docs/cookbook/common/setup-new-project.md
  docs/cookbook/index.md
  docs/cookbook/troubleshooting/command-not-found.md
  docs/dev/CONTRIBUTING-HUB-V2.md
  docs/guide/markdown-list-spacing.md
  docs/specs/SPEC-markdownlint-list-spacing-2026-01-19.md
  docs/specs/SPEC-teaching-workflow-2026-01-16.md
  docs/tutorials/teaching-mode-setup.md
  tests/test_craft_plugin.py
Due: check-frontmatter

fix: relax MD001 and MD040 as warnings with interactive fix option
  .markdownlint.json
Due: none

feat: implement docs_update_orchestrator for interactive documentation updates
  utils/docs_update_orchestrator.py
Due: none

docs: add comprehensive docs:update implementation summary
  DOCS-UPDATE-IMPLEMENTATION.md
Due: none

docs: add documentation systems architecture guide
  WORKFLOW-DOCUMENTATION-SYSTEMS.md
Due: none

feat: implement /craft:docs:lint execution layer (v2.8.0 MVP)
  commands/docs/lint.md
  scripts/docs-lint.sh
Due: check-frontmatter

docs: update CLAUDE.md for v2.8.0 docs-lint execution layer
  CLAUDE.md
Due: none

docs: release v2.8.0 - markdown linting execution layer
  .STATUS
  .claude-plugin/plugin.json
  RELEASE-v2.8.0.md
Due: check-plugin-json

docs: mark v2.8.0 as released on main
  .STATUS
Due: none

docs: update documentation site for v2.8.0 release
  .markdownlint.json
  docs/REFCARD.md
  docs/VERSION-HISTORY.md
  docs/index.md
  mkdocs.yml
Due: none
