Repository Data-Wise/craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-package-json, check-plugin-json

check-frontmatter:
  name: Check command frontmatter
  entry: bash -c 'find */commands -name "*.md" -type f -exec grep -L "^name:" {} + | grep . && exit 1 || exit 0'
  language: system

check-package-json:
  name: Validate package.json files
  entry: bash -c 'for f in */package.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
  language: system

check-plugin-json:
  name: Validate plugin.json files
  entry: bash -c 'for f in */.claude-plugin/plugin.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
  language: system

docs: enhance installation instructions with comprehensive setup guide
  README.md
Due: none

ci: add homebrew-release workflow for automated tap updates
  .github/workflows/homebrew-release.yml
Due: none

docs: fix broken links and add CLAUDE.md
  CLAUDE.md
  README.md
  docs/DOCUMENTATION-MAKING-GUIDE.md
  docs/commands.md
  docs/workflow-integration/QUICK-START.md
  docs/workflow-integration/REFCARD.md
Due: none

docs: add /craft:git:worktree command to CLAUDE.md
  CLAUDE.md
Due: none

docs: add Craft commands to Quick Commands section
  CLAUDE.md
Due: none

docs: add modes, agents, and troubleshooting to CLAUDE.md
  CLAUDE.md
Due: none

docs: optimize CLAUDE.md for scannability
  CLAUDE.md
Due: none

docs: add TL;DR and external links to CLAUDE.md
  CLAUDE.md
Due: none

chore: bump version to 1.18.0 and update .STATUS
  .STATUS
  .claude-plugin/plugin.json
Due: check-plugin-json

feat: add ADHD doc templates and force generation flags
  commands/docs/update.md
  docs/specs/SPEC-docs-improvement-2026-01-14.md
  templates/docs/GETTING-STARTED-TEMPLATE.md
  templates/docs/GIF-GUIDELINES.md
  templates/docs/HELP-PAGE-TEMPLATE.md
  templates/docs/QUICK-START-TEMPLATE.md
  templates/docs/README.md
  templates/docs/REFCARD-TEMPLATE.md
  templates/docs/TUTORIAL-TEMPLATE.md
  templates/docs/WORKFLOW-TEMPLATE.md
Due: check-frontmatter

feat: add help, workflow, quickstart doc generators
  .claude-plugin/plugin.json
  CLAUDE.md
  commands/docs/help.md
  commands/docs/quickstart.md
  commands/docs/workflow.md
Due: check-frontmatter, check-plugin-json

docs: test new doc generators - help, workflow, quickstart
  docs/QUICK-START.md
  docs/help/check.md
  docs/workflows/git-feature-workflow.md
Due: none

docs: add help pages for key commands and update navigation
  docs/help/brainstorm.md
  docs/help/check.md
  docs/help/do.md
  docs/help/docs-update.md
  docs/help/git-worktree.md
  docs/workflows/git-feature-workflow.md
  mkdocs.yml
Due: none

docs: add more help pages and workflow documentation
  docs/help/ci-generate.md
  docs/help/hub.md
  docs/help/orchestrate.md
  docs/workflows/pre-commit-workflow.md
  docs/workflows/release-workflow.md
  mkdocs.yml
Due: none

feat: integrate brainstorm with workflow documentation
  commands/docs/workflow.md
  commands/workflow/brainstorm.md
  tests/craft_test_report.md
Due: check-frontmatter

docs: add brainstorm-workflow integration to roadmap backlog
  ROADMAP.md
Due: none

docs: add Homebrew installation guide
  docs/guide/getting-started.md
  docs/guide/homebrew-installation.md
  mkdocs.yml
  tests/craft_test_report.md
Due: none

Release v1.18.0 (#4)
  .claude-plugin/plugin.json
  CLAUDE.md
  ROADMAP.md
  commands/docs/help.md
  commands/docs/quickstart.md
  commands/docs/update.md
  commands/docs/workflow.md
  commands/workflow/brainstorm.md
  docs/QUICK-START.md
  docs/guide/getting-started.md
  docs/guide/homebrew-installation.md
  docs/help/brainstorm.md
  docs/help/check.md
  docs/help/ci-generate.md
  docs/help/do.md
  docs/help/docs-update.md
  docs/help/git-worktree.md
  docs/help/hub.md
  docs/help/orchestrate.md
  docs/specs/SPEC-docs-improvement-2026-01-14.md
  docs/workflows/git-feature-workflow.md
  docs/workflows/pre-commit-workflow.md
  docs/workflows/release-workflow.md
  mkdocs.yml
  templates/docs/GETTING-STARTED-TEMPLATE.md
  templates/docs/GIF-GUIDELINES.md
  templates/docs/HELP-PAGE-TEMPLATE.md
  templates/docs/QUICK-START-TEMPLATE.md
  templates/docs/README.md
  templates/docs/REFCARD-TEMPLATE.md
  templates/docs/TUTORIAL-TEMPLATE.md
  templates/docs/WORKFLOW-TEMPLATE.md
  tests/craft_test_report.md
Due: check-frontmatter, check-plugin-json

docs: update Homebrew guide with timeout mechanism and sync info
  docs/guide/getting-started.md
  docs/guide/homebrew-installation.md
Due: none

Deployed 0541e38 with MkDocs version: 1.6.1
  guide/getting-started/index.html
  guide/homebrew-installation/index.html
  search/search_index.json
Due: none

docs: update for Claude detection approach
  docs/guide/homebrew-installation.md
Due: none

Deployed ac6c766 with MkDocs version: 1.6.1
  guide/homebrew-installation/index.html
  search/search_index.json
Due: none

docs: document Claude detection for all Homebrew plugins
  docs/guide/homebrew-installation.md
Due: none

Deployed c732016 with MkDocs version: 1.6.1
  guide/homebrew-installation/index.html
  search/search_index.json
Due: none

docs: add Claude Code plugin formula pattern to homebrew command
  commands/dist/homebrew.md
Due: check-frontmatter

skill: add Claude Code plugin formula pattern to homebrew-formula-expert
  skills/distribution/homebrew-formula-expert.md
Due: none

fix: add missing uninstall.sh script for CI
  scripts/uninstall.sh
Due: none

fix: exclude documentation examples from hardcoded path check
  .github/workflows/ci.yml
Due: none

fix: also exclude echo statements from hardcoded path check
  .github/workflows/ci.yml
Due: none

Deployed c53020c with MkDocs version: 1.6.1
  DOCUMENTATION-MAKING-GUIDE/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  workflow-integration/index.html
Due: none

fix: resolve remaining doc link warnings
  docs/commands.md
  docs/commands/dist.md
Due: check-frontmatter

Deployed 8fccff5 with MkDocs version: 1.6.1
  commands/dist/index.html
  commands/index.html
  search/search_index.json
Due: none

chore: bump version to 1.18.1
  .STATUS
  .claude-plugin/plugin.json
Due: check-plugin-json

docs: add reminder to always start from dev branch
  CLAUDE.md
Due: none

feat: add /craft:git:init command for repository initialization
  .claude-plugin/plugin.json
  commands/git/init.md
  commands/hub.md
  docs/architecture/git-init-flow.md
  docs/commands/git-init-reference.md
  docs/git-init-docs-index.md
  docs/guide/getting-started.md
  docs/guide/git-init-tutorial.md
  templates/git-init/CLAUDE-template.md
  templates/git-init/STATUS-template.yaml
  templates/git-init/pull_request_template.md
  tests/git_init_test_report.md
  tests/test_git_init_command.py
Due: check-frontmatter, check-plugin-json

Path conditions:
  check-frontmatter: any of: commands/.*\.md$
  check-package-json: any of: package\.json$
  check-plugin-json: any of: \.claude-plugin/plugin\.json$
