Repository Data-Wise/craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-package-json, check-plugin-json

check-frontmatter:
  name: Check command frontmatter
  entry: bash -c 'find */commands -name "*.md" -type f -exec grep -L "^name:" {} + | grep . && exit 1 || exit 0'
  language: system

check-package-json:
  name: Validate package.json files
  entry: bash -c 'for f in */package.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
  language: system

check-plugin-json:
  name: Validate plugin.json files
  entry: bash -c 'for f in */.claude-plugin/plugin.json; do echo "Checking $f"; python3 -m json.tool "$f" > /dev/null || exit 1; done'
  language: system

feat(craft): add site:add command, mark v1.7.0 phases complete
  ROADMAP.md
  commands/site/add.md
Due: check-frontmatter

feat(craft): add 4 ADHD-friendly design presets
  ROADMAP.md
  templates/site/presets/adhd-calm.yaml
  templates/site/presets/adhd-dark.yaml
  templates/site/presets/adhd-focus.yaml
  templates/site/presets/adhd-light.yaml
Due: none

docs(craft): add ADHD presets to wizard and gallery
  commands/site/create.md
  commands/site/theme.md
  docs/PRESET-GALLERY.md
Due: check-frontmatter

docs(site): show available presets in theme default output
  CRAFT-PLUGIN-PROPOSAL.md
  craft/PROPOSAL-craft-review-2025-12-27.md
  craft/PROPOSAL-docs-commands-review-2025-12-27.md
  craft/PROPOSAL-docs-complete-workflow-2025-12-27.md
  craft/PROPOSAL-docs-workflow-focused-2025-12-27.md
  craft/commands/site/theme.md
Due: check-frontmatter

docs(site): show available presets in theme default output
  PROPOSAL-craft-review-2025-12-27.md
  PROPOSAL-docs-commands-review-2025-12-27.md
  PROPOSAL-docs-complete-workflow-2025-12-27.md
  PROPOSAL-docs-workflow-focused-2025-12-27.md
  commands/site/theme.md
Due: check-frontmatter

chore(release): bump version to 1.7.0
  README.md
Due: none

feat: add Mermaid validation and worktree detection
  .claude-plugin/plugin.json
  commands/check.md
  commands/docs/generate.md
  commands/site/status.md
  skills/docs/mermaid-linter/skill.md
Due: check-frontmatter, check-plugin-json

feat: add git:worktree command for parallel development
  .claude-plugin/plugin.json
  commands/git/worktree.md
Due: check-frontmatter, check-plugin-json

feat: add git:worktree command for parallel development
  craft/.claude-plugin/plugin.json
  craft/commands/git/worktree.md
Due: check-frontmatter, check-plugin-json

feat: add docs:mermaid command with diagram templates
  .claude-plugin/plugin.json
  commands/docs/mermaid.md
Due: check-frontmatter, check-plugin-json

chore(release): bump version to 1.8.0
  .claude-plugin/plugin.json
  README.md
Due: check-plugin-json

feat(site): add site:nav command for ADHD-friendly navigation reorganization
  .claude-plugin/plugin.json
  BRAINSTORM-SUBCOMMAND-UX.md
  PROPOSAL-SITE-COMMANDS.md
  README.md
  commands/site/nav.md
Due: check-frontmatter, check-plugin-json

feat(site): add site:audit command for content inventory
  .claude-plugin/plugin.json
  README.md
  commands/site/audit.md
Due: check-frontmatter, check-plugin-json

feat(site): add site:consolidate command for merging duplicates
  .claude-plugin/plugin.json
  README.md
  commands/site/consolidate.md
Due: check-frontmatter, check-plugin-json

feat(docs): add docs:prompt command for generating maintenance prompts
  .claude-plugin/plugin.json
  README.md
  commands/docs/prompt.md
Due: check-frontmatter, check-plugin-json

chore: archive completed proposals and brainstorms
  docs/_archive/BRAINSTORM-SUBCOMMAND-UX.md
  docs/_archive/PROPOSAL-SITE-COMMANDS.md
  docs/_archive/PROPOSAL-craft-review-2025-12-27.md
  docs/_archive/PROPOSAL-docs-commands-review-2025-12-27.md
  docs/_archive/PROPOSAL-docs-complete-workflow-2025-12-27.md
  docs/_archive/PROPOSAL-docs-workflow-focused-2025-12-27.md
  docs/_archive/PROPOSAL-site-commands-2025-12-27.md
Due: none

docs: add craft enhancement proposal for future planning
  PROPOSAL-CRAFT-ENHANCEMENT-2025-12-28.md
Due: none

docs: add craft enhancement proposal for future planning
  craft/PROPOSAL-CRAFT-ENHANCEMENT-2025-12-28.md
Due: none

ci: add craft plugin to GitHub Actions tests
  LICENSE
  package.json
  tests/craft_test_report.md
Due: check-package-json

ci: add craft plugin to GitHub Actions tests
  .github/workflows/craft-ci.yml
  .github/workflows/validate-plugins.yml
  craft/LICENSE
  craft/package.json
  craft/tests/craft_test_report.md
Due: check-package-json

docs: add CI badges to craft README
  README.md
Due: none

fix(ci): relax command validation for craft plugin
  .github/workflows/craft-ci.yml
  .github/workflows/validate-plugins.yml
Due: none

fix: remove hardcoded path from session-state example
  skills/orchestration/session-state.md
Due: none

fix(ci): accept any markdown heading in command validation
  .github/workflows/validate-plugins.yml
Due: none

fix(ci): correct plugin directory name rforge-orchestrator -> rforge
  .github/workflows/validate-plugins.yml
Due: none

fix(ci): temporarily disable comprehensive validation script
  .github/workflows/validate-plugins.yml
Due: none

feat(craft): add CI detection system with project-detector skill
  craft/.claude-plugin/plugin.json
  craft/README.md
  craft/commands/ci/detect.md
  craft/package.json
  craft/skills/ci/project-detector.md
Due: check-frontmatter, check-package-json, check-plugin-json

feat(craft): add CI detection system with project-detector skill
  .claude-plugin/plugin.json
  README.md
  commands/ci/detect.md
  package.json
  skills/ci/project-detector.md
Due: check-frontmatter, check-package-json, check-plugin-json

feat(craft): add CI generate and validate commands
  .claude-plugin/plugin.json
  README.md
  commands/ci/generate.md
  commands/ci/validate.md
  package.json
Due: check-frontmatter, check-package-json, check-plugin-json

test: add comprehensive tests for CI project-detector skill
  craft/tests/test_project_detector.py
Due: none

test: add comprehensive tests for CI project-detector skill
  tests/test_project_detector.py
Due: none

feat(ci): add Rust and Go test framework detection
  skills/ci/project-detector.md
  tests/test_project_detector.py
Due: none

feat(ci): add Rust and Go test framework detection
  craft/skills/ci/project-detector.md
  craft/tests/test_project_detector.py
Due: none

feat(ci): add 8 new project type detections from dev-tools survey
  skills/ci/project-detector.md
  tests/test_project_detector.py
Due: none

docs: add CI detection rollout plan for dev-tools projects
  craft/docs/CI-DETECTION-ROLLOUT.md
Due: none

docs: add CI detection rollout plan for dev-tools projects
  docs/CI-DETECTION-ROLLOUT.md
Due: none

docs: update CI rollout with flow-cli results and full project list
  docs/CI-DETECTION-ROLLOUT.md
Due: none

feat(ci): add smart Node detection to handle hybrid projects
  docs/CI-DETECTION-ROLLOUT.md
  skills/ci/project-detector.md
  tests/test_project_detector.py
Due: none

feat(ci): add smart Node detection to handle hybrid projects
  craft/docs/CI-DETECTION-ROLLOUT.md
  craft/skills/ci/project-detector.md
  craft/tests/test_project_detector.py
Due: none

docs: add CI templates reference from exemplary projects
  docs/CI-TEMPLATES.md
Due: none

Path conditions:
  check-frontmatter: any of: commands/.*\.md$
  check-package-json: any of: package\.json$
  check-plugin-json: any of: \.claude-plugin/plugin\.json$
